<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="amdCpu" class="org.springframework.inverseofcontrol.common.cpu.AmdCPU"/>
    <bean id="intelCpu" class="org.springframework.inverseofcontrol.common.cpu.IntelCPU"/>
    <bean id="computer" class= "org.springframework.inverseofcontrol.xmlbased.Computer">
        <constructor-arg ref="intelCpu"/>
    </bean>

</beans>